<div class="sidebar-module sidebar-module-inset">
            <h4>关于作者</h4>
            <p>本博客采用nodejs+mysql+express+ejs+bootstrap架构，了解 前端 php java android nodejs</p>
          </div>
          <div class="sidebar-module">
            <h4>归档</h4>
            <ol class="list-unstyled">
              <%
              var temp=[];

              for(var i=0;i<allArticleTime.length;i++){
                var title=allArticleTime[i];
                var flag=false;
                for(var j=0;j<temp.length;j++){
                   if(temp[j].title==title){
                    temp[j].nums+=1;
                    flag=true;
                    break
                  }              
                }
                if(!flag){
                    var obj={
                      title:title,
                      nums:1
                      };
                    temp.push(obj);
                }
              }
              %>
              <%for(var j=0;j<temp.length;j++){%>
              <li><a href="#">
                <%=temp[j].title%>
                <%=temp[j].nums%>篇
              </a></li>
              <%}%>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>友链</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/taoshihan1991/nodejs-blog" target="_blank">我的GitHub</a></li>
              <li><a href="http://www.qingguow.cn" target="_blank">我的个人网站</a></li>
              <li><a href="#">我的微博</a></li>
            </ol>
          </div>