<div class="sidebar-module sidebar-module-inset">
            <h4>作者</h4>
            <p>了解 前端 php java android nodejs</p>
          </div>
          <div class="sidebar-module">
            <h4>归档</h4>
            <ol class="list-unstyled">
              <%
              var temp=[];
              var numArr=[];
              var k=0;
              for(var i=0;i<allArticleTime.length;i++){
                var num=1;
                if((temp.indexOf(allArticleTime[i]))==-1){
                  temp.push(allArticleTime[i]);
                  numArr.push(num);
                  k=i;
                }else{
                  numArr[k]+=1;
                }
              }
              %>
              <%for(var j=0;j<temp.length;j++){%>
              <li><a href="#">
                <%=temp[j]%>
                <%=numArr[j]%>篇
              </a></li>
              <%}%>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>友链</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/taoshihan1991/nodejs-blog" target="_blank">我的GitHub</a></li>
              <li><a href="http://www.qingguow.cn" target="_blank">我的个人网站</a></li>
              <li><a href="#">我的微博</a></li>
            </ol>
          </div>